Repository physiopy/physioqc, pull requests merged in 2024-10, with the labels that each got.

#20 Tune up codespell configuration to skip trough and not modify versioneer file
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_FEATURE_REQUEST.md
  .pre-commit-config.yaml
  physioqc/interfaces/visualizations.py
  setup.cfg
Labels: Internal

#40 Improve peak detection utility and optimize metrics
  physioqc/metrics/multimodal.py
  physioqc/metrics/utils.py
Labels: Minormod, Refactoring

#39 Add metric to show maximum amplitude in signal (max_amplitude) and rename IQR
  physioqc/metrics/multimodal.py
Labels: Minormod-breaking, Minormod

#41 Fix arguments pass in `physio_or_numpy` wrapper
  physioqc/metrics/utils.py
Labels: BugFIX
