Repository physiopy/physioqc, pull requests merged in 2024-08, with the labels that each got.

#28 Update contributors
  .zenodo.json
Labels: Internal

#27 Configure documentation
  .readthedocs.yml
  README.rst
  docs/Makefile
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
Labels: Documentation

#18 Add auto-author and auto-label to github workflow
  .github/labeler.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/auto-label.yml
Labels: Internal

#30 Add contribution
  .zenodo.json
Labels: Internal

#31 Update contributors
  .all-contributorsrc
  .zenodo.json
  README.md
Labels: Documentation, Internal
